<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/geral.css">
    <title>Semente do PI - produtos</title>
</head>
<body>
    <header>
        <div>
           <a href="#">Home</a>
           <a href="#">Categorias</a>
           <a href="#">Contato</a>
           <a href="#">Área do assinante</a>
        </div>
    </header>
    <main>
        <aside class="esquerdo">lalala aside</aside>
        <header class="secundario">lalala header</header>
     <section>
        <article>
            <img src="/img/camiseta.webp" alt="Nome do produtoi">
            <h2>Nome do produto</h2>
            <span class="tamanho">M</span>
            <span class="preco">R$ 99,99</span>
        </article>
        <article>
            <img src="/img/camiseta.webp" alt="Nome do produto">
            <h2>Nome do produto</h2>
            <span class="tamanho">M</span>
            <span class="preco">R$ 99,99</span>
        </article>
        <article>
            <img src="/img/camiseta.webp" alt="Nome do produto">
            <h2>Nome do produto</h2>
            <span class="tamanho">M</span>
            <span class="preco">R$ 99,99</span>
        </article>
        <article>
            <img src="/img/camiseta.webp" alt="Nome do produto">
            <h2>Nome do produto</h2>
            <span class="tamanho">M</span>
            <span class="preco">R$ 99,99</span>
        </article>
        <article>
            <img src="/img/camiseta.webp" alt="Nome do produto">
            <h2>Nome do produto</h2>
            <span class="tamanho">M</span>
            <span class="preco">R$ 99,99</span>
        </article>
        <article>
            <img src="/img/camiseta.webp" alt="Nome do produto">
            <h2>Nome do produto</h2>
            <span class="tamanho">M</span>
            <span class="preco">R$ 99,99</span>
        </article>
        <article>
            <img src="/img/camiseta.webp" alt="Nome do produto">
            <h2>Nome do produto</h2>
            <span class="tamanho">M</span>
            <span class="preco">R$ 99,99</span>
        </article>
     </section>
        <aside class="direito"> lalala anuncio</aside>
        <footer>lalala footer</footer>
   </main>
    <footer>

    </footer>
    
</body>
</html>